<header class="header">
  <ul class="header__menu">

    <li class="header__menu-option" *ngIf="!identity">
      <a routerLink="/login">Login</a>
    </li>

    <li class="header__menu-option" *ngIf="!identity">
      <a routerLink="/register">Register</a>
    </li>

    <li class="header__menu-option" *ngIf="token && identity">
      <a routerLink="/home/1"><i class="fas fa-home"></i>Home</a>
    </li>

    <li class="header__menu-option" *ngIf="token && identity">
      <a routerLink="/uploader"><i class="fas fa-images"></i>Upload photos</a>
    </li>

    <li class="header__menu-option" *ngIf="token && identity">
      <a class="signout" (click)="signOut()">Sign out</a>
    </li>

  </ul>

  <div class="logo">
    Image Uploader
  </div>
</header>


<router-outlet></router-outlet>
